@charset "UTF-8";

body{
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1{
    color: rgb(17, 5, 28);
    background-color: rgb(137, 134, 129);
}
h2{
    color: rgb(25, 48, 49);
}
p{
    text-align: justify;
}